<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>PlantButler</h3>

  <ion-card>
    <ion-card-content *ngFor="let hive of foundHives">
      <ion-card-title>Hive</ion-card-title>
      <p>
      {{hive.sow}} &middot; {{hive.sowR}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let tentacle of foundTentacles">

    <img src="assets/img/{{tentacle.type}}-item.jpg"/>

    <ion-card-content>
      <ion-card-title>
        {{ tentacle.name }}
      </ion-card-title>
      <p>
        <ion-icon name='battery-full'></ion-icon> {{ tentacle.soc*100 | number }}% &middot; Soil State: <ion-icon name="{{ showSoilState(tentacle.currentSoilState) }}"></ion-icon>
      </p>
    </ion-card-content>


  </ion-card>



</ion-content>
